@model zetutrade_Model.Models.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-12 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Zetu Trade</span>
        <h3 class="page-title">Ürün Güncelle</h3>
    </div>

</div>
@if(ViewBag.update == "no")
            {
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Başarısız !</strong> Bu ürün için bu dil eklenmemiş lütfen dili ekleyin ! <a asp-action="TextAddProduct" asp-route-id="@Model.productID" style="color:white!important;">Dil Text Ekle</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
            }
<div class="row">

</div>
@using (Html.BeginForm("UpdateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    var producttext = Model.ProductTexts.FirstOrDefault();
    <div class="main-content-container container-fluid px-12">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card card-small mb-9">
                    <div class="card-body">
                        @Html.TextBoxFor(m => m.productID, new { @class = "invisible" })<br />
                     
                        <h4>@producttext.productName</h4>
                        <div class="row">
                            <div class="col-6">
                                <label>
                                    <i class="fa fa-camera-retro" aria-hidden="true"></i>
                                     Ürün Fotoğrafı
                                </label><br />
                                <img src="/@Url.Content(Model.productPhotoUrl)" style="width:50%!important;" />
                            </div>
                            <div class="col-6">
                                <label>
                                    <i class="fa fa-server" aria-hidden="true"></i>

                                     Ürün Kategorisi
                                </label><br />
                                @Html.DropDownListFor(m => m.categoryID, (List<SelectListItem>)ViewBag.categories, new { @class = "ml-auto" })
                                <hr />
                                <label>
                                    <i class="fas fa-tags" aria-hidden="true"></i>
                                    Stok Durumu
                                </label>
                                @if (Model.isinstock == true)
                                {
                                    <input type="checkbox" name="isinstock" value="true" checked /> <p style="color:#1d5711; margin:0px; padding:0px;">Stokta Var</p>
                                    <p style="color:#511212"><i>Ürün Stokta yok ise lütfen check işaretini kaldırınız !</i></p>
                                }
                                else
                                {
                                    <input type="checkbox" name="isinstock" value="true" /> <p style="color:#511212; margin:0px; padding:0px;">Stokta Yok</p>
                                    <p style="color:#511212"><i>Ürün Stokta var ise lütfen check işaretini işaretleyiniz !</i></p>
                                }
                                <hr />
                                <label>
                                    <i class="fa fa-camera-retro" aria-hidden="true"></i>
                                     Fotoğrafı Güncelle
                                </label><br />
                                <input type="file" name="productPhotoUrl" />
                            </div>
                        </div>
                        <br /><br />
                        <button class="btn btn-sm btn-accent ml-auto">
                            <i class="material-icons">file_copy</i> Güncelle
                        </button>
                        <h5 class="text-center">Text Güncelle</h5>
                        <div class="row text-center">
                            <div class="col-lg-3">                             
                                    <a asp-action="UpdateProductTextTR" asp-route-id="@Model.productID" class="btn btn-sm btn-warning ml-auto">
                                        <i class="material-icons">description</i> Türkçe
                                    </a>
                            </div>
                            <div class="col-lg-3">
                                <a asp-action="UpdateProductTextEN" asp-route-id="@Model.productID" class="btn btn-sm btn-warning ml-auto">
                                    <i class="material-icons">description</i> İngilizce
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a asp-action="UpdateProductTextESP" asp-route-id="@Model.productID" class="btn btn-sm btn-warning ml-auto">
                                    <i class="material-icons">description</i> İspanyolca
                                </a>
                            </div>
                            <div class="col-lg-3">
                                <a asp-action="UpdateProductTextARP" asp-route-id="@Model.productID" class="btn btn-sm btn-warning ml-auto">
                                    <i class="material-icons">description</i> Arapça
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


